.content-blocks {
    padding: 120px 0;
    background-color: #ffffff;
    background-image: url('../img/topography.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;

    &__title {
        max-width: 700px;
        margin: 0 auto 24px;
        font-size: 48px;
        font-weight: 700;
        color: #010A20;
        line-height: 1.2;
    }

    &__text {
        max-width: 650px;
        margin: 0 auto 40px;
        font-size: 18px;
        line-height: 1.8;
        color: #6F7787;
    }

    &__button {
        display: inline-block;
        padding: 16px 42px;
        background-color: #DD2242;
        color: #ffffff;
        text-decoration: none;
        border-radius: 32px;
        font-weight: 700;
        transition: 0.3s;

        &:hover {
            background-color: #c51d3b;
        }
    }
}