// Color
$color-bg: #010A20;
$color-grey-reduced: #85A3B2;
$color-text: #FFFFFF;
$color-muted: #E0E0E0;
$color-btn: #DD2242;
$color-light-text: #151439;
$color-paragraph: #6F7787;


// Text
$font-family-base: 'DM Sans', sans-serif;
$font-family-heading: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;

// Layout
$container-max-width: 1917px;
$container-padding: 20px;
$border-radius: 20px;
$transition-default: 0.3s ease;
